<div class="form-group">
    <label for="line1">First line of address</label>
    <input type="text" class="form-control" name="line1" placeholder="First line">
</div>
<div class="form-group">
    <label for="line2">Second line of address</label>
    <input type="text" class="form-control" id="line2" placeholder="Second line">
</div>
<div class="form-group">
    <label for="town">Town</label>
    <input type="text" class="form-control" id="town" placeholder="Town">
</div>
<div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" placeholder="City">
</div>
<div class="form-group">
    <label for="postcode">Postcode</label>
    <input type="text" class="form-control" id="postcode" placeholder="Postcode">
</div>
