<div class="form-group">
    <label for="bankName">Name of bank</label>
    <input type="text" class="form-control" name="bankName" placeholder="Name of bank">
</div>
<div class="form-group">
    <label for="sortcode">Sort Code</label>
    <input type="text" class="form-control" id="sortcode" placeholder="Sortcode">
</div>
<div class="form-group">
    <label for="accountNumber">Account Number</label>
    <input type="text" class="form-control" id="accountNumber" placeholder="Account Number">
</div>
