<div class="form-group">
    <label for="bankName">Name of bank</label>
    <input type="text" class="form-control" name="bankName" placeholder="Name of bank" value="{{ bankName }}">
</div>
<div class="form-group">
    <label for="sortcode">Sort Code</label>
    <input type="text" class="form-control" name="sortCode" id="sortCode" placeholder="Sortcode"  value="{{ sortCode }}">
</div>
<div class="form-group">
    <label for="accountNumber">Account Number</label>
    <input type="text" class="form-control" name="accountNumber" id="accountNumber" placeholder="Account Number"  value="{{ accountNumber }}">
</div>
