<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    {{#block "content" }}
                    {{/block}}
                </div>
            </div>
        </div>
    </body>
</html>